<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <h1>One Saucey Site</h1>
        {{{body}}}
        <script src="/script.js"></script>
    </body>
</html>