<!DOCTYPE html>
<html>
	<head>
	    <!--Link to bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/style.css"/> <!--Link to style.css stylesheet -->
	</head>
	<body>
			{{{body}}} <!--Triple mustaches for more handlebars templates.--> 
	</body>
</html>