<form action="/new-item" method="post" >
    <label for="name">Item Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="image">Image URL:</label><br>
    <input type="text" id="image" name="image" required><br><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" required><br><br>

    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" required><br><br>

    <label for="price">Category:</label><br>
    <input type="text" id="price" name="price" required><br><br>

    <button type="submit">Submit a new item!</button>
</form>