<form action="/new-restaurant" method="post" >
    <label for="name">Restaurant Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="image">Image URL:</label><br>
    <input type="text" id="image" name="image" required><br><br>

    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" required><br><br>

    <label for="cuisine">Cuisine:</label><br>
    <input type="text" id="cuisine" name="cuisine" required><br><br>

    <button type="submit">Submit a new restaurant!</button>
</form>