<form action="/new-warehouse" method="post" id="form">
    <div class="container" id ="myDiv">
        <div class="card">
            <div class="card-header text-center">
                <h1 id="taskList">New Warehouse</h1>
            </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label id="nameId" for="name">Warehouse Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Input Name" autocomplete="off" required>
                </div>
                <div class="form-group- offset-2 col-sm-6 col-md-6">
                    <label for="image">Image URL:</label>
                    <input type="text"class="form-control" id="image" name="image" placeholder="Image URL" required/>
                </div>

                <div class="container">
                    <div class="col-sm-10">
                        <a class="btn" href="/warehouses/{{id}}"><button id="btn" type="button" class="btn btn-success">Add Warehouse</button></a>
                        <a class="btn" href="/warehouse/{{id}}"><button id="btn" type="button"
                        <button type="button" id="deletebutton" class="btn btn-danger">Delete</button></a>

                        <button type="button" id="resetbutton" class="btn btn-primary">Reset</button>
                    </div>

                </div>    

            </div>
        </div>
    </div>
</form> 
