<div>
    <h1>Warehouses~</h1>
	<h3>There are {{warehouses.length}} warehouse.</h3> 
    <div class="grid-container">
	{{#each warehouses}} <!-- for each sauce in sauces, create this html -->
        <div class="grid-item">
			<h2>{{name}}</h2>
			<img class="item-img" src="{{image}}" />
			<a class="btn" href="/warehouses/{{id}}"><button class="button">Details â¯</button></a>
		</div>
	{{/each}}
</div>